/* OVERALL STYLES */

:root {
    --color-gray-light: #868d9b;
    --color-gray: #2a2c31;
    --color-gray-dark: #1f2024;
    --color-tan: #eae7e0;
    --color-orange: #ff6c40;
    --color-blue: #27bfea;
    --color-yellow: #eac703;
}

::selection {
  background: var(--color-gray-light);
}
::-moz-selection {
  background: var(--color-gray-light);
}
body {
    background-color: var(--color-gray);
    border: 14px solid #1f2024;
}
h1 {
    font-family: titling-gothic-fb, sans-serif;
    font-weight: 700;
    letter-spacing: -2px;
    font-size: 70px;
    line-height: 60px;
    color: var(--color-gray-light);
}

h2 {
    font-family: titling-gothic-fb, sans-serif;
    font-weight: normal;
    letter-spacing: -2px;
    font-size: 48px;
    line-height: 50px;
    color: var(--color-gray-light);
}

h3 {
    font-weight: normal;
    font-size: 32px;
    line-height: 1.5;
    color: var(--color-gray-light);
}

h4 {
    font-weight: normal;
    font-size: 28px;
    line-height: 1.5;
    color: var(--color-gray-light);
}

a {
    cursor: pointer;
    text-decoration: none;
}

#hp_anchor:hover {
    border-bottom: 4px solid #ff6c40;
    transition: 0.2s;
}

p {
    font-weight: normal;
    color: var(--color-gray-light);
    font-size: 18px;
}

code {
    border: none;
    margin: 0;
    padding: 0;
}


@media only screen and (max-width: 600px) {
    h1 {
        font-size: 50px;
        line-height: 50px;
    }
    h2 {
        font-size: 32px;
        line-height: 40px;
    }
}

/* UNIVERSAL CLASSES */

.spaceup3 {
    margin-top: 3%;
}

.spaceup5 {
    margin-top: 5%;
}

.spaceup10 {
    margin-top: 10%;
}

.spacedown3 {
    margin-bottom: 3%;
}

.spacedown5 {
    margin-bottom: 5%;
}

.spacedown10 {
    margin-bottom: 10%;
}

.code_snippet {
    font-family: monospace;
    background-color: rgba(0, 0, 0, 0.1);
    padding: 2px 6px;
    vertical-align: 2px;
    border-radius: 5px;
}

.code_list_item {
    font-family: monospace;
    font-size: 18px;
    background-color: rgba(0, 0, 0, 0.1);
    display:table;
    padding: 0px 6px;
}

.note {
    font-size: 14px;
    font-style: italic;
}

/* MAIN NAV */

#jcd_logo{
    max-width: 80px;
    padding: 30px 0;
    top: 30px;
    position: relative;
}

#nav_ul {
    list-style-type: none;
    float: right;
    margin: 0;
    position: relative;
    font-family: titling-gothic-fb, sans-serif;
}

#nav_ul li{
    display: inline;
    padding-left: 60px;
}

#nav_ul li a{
    color: var(--color-gray-light);
    text-decoration: none;
    font-weight: 700;
}

#nav_ul li a:hover{
    color: var(--color-orange);
    text-decoration: none;
    font-weight: 700;
}


@media only screen and (max-width: 600px) {
    #nav_ul {
    float: none;
    text-align: center;
    top: auto;
    position: relative;
    margin-top: 30px;
    }
    #nav_ul li{
    padding: 0px;
    }
    #nav_ul li::after{
    content: "\A\A";
    white-space: pre;
    }
    #jcd_logo_wrapper {
    text-align: center;
    }
    #jcd_logo{
    top: auto;
    position: relative;
    }
}

/* FOOTER */

.footer_date {
    font-family: titling-gothic-fb, sans-serif;
    font-weight: 700;
    letter-spacing: 1px;
}


/* LIGHT THEME PAGES */

.light_bg_contain {
    background-color: #eae7e0;
    padding: 40px 0px;
    margin-bottom: 90px;
    margin-top: 50px;
    border-bottom: 12px solid #ff6c40;
}

.light_bg_contain h1{
    color: var(--color-gray-dark);
}

.light_bg_contain h2{
    color: var(--color-gray-dark);
}

.light_bg_contain h3{
    color: var(--color-gray-dark);
}

.light_bg_contain h4{
    color: var(--color-gray-dark);
    text-transform: uppercase;
    font-weight: 700;
    font-size: 20px;
    letter-spacing: 1px;
}

.light_bg_contain p{
    color: var(--color-gray-dark);
}

.light_bg_contain a{
    color: #1978d4;
}

.light_bg_contain a:hover{
    color: var(--color-gray-dark);
    border-bottom: 2px solid #1f2024;
}

.light_bg_contain hr{
    border: 1px solid #ff6c40;
    padding: 0px;
    margin: 0px 0px 20px 0px;
}


/* HOMEPAGE */

.home_grid_category {
    font-weight: 700;
    font-size: 12px;
    letter-spacing: 2px;
    color: #ccc;
    margin: 5px 0px 8px 0px;
    font-family: titling-gothic-fb, sans-serif;
}

.home_grid_text {
    font-weight: 400;
    font-size: 22px;
    color: #000;
    line-height: 20px;
}

/* HP - feature grid */

.hp_feature_grid {
    transition: 1s;
    height: 440px;
    background-color: var(--color-gray-light);
}
.hp_feature_grid:hover {
    transition: 1s;
    transform: scale(1.04);
}

.hp_feature_grid p {
    transition: 1s;
    display: inline-block;
}

.hp_feature_grid:hover p {
    margin: 20px;
    transition: 1s;
}

.hp_feature_grid_text {
    color: var(--color-gray-dark);
    padding: 10px;
    font-size: 70px;
    line-height: 0.9;
    letter-spacing: -3px;
}

@media only screen and (max-width: 800px) {
    .hp_feature_grid p{
        font-size: 50px;
    }
    .hp_feature_grid {
        margin-bottom: 20px;
    }
}

@media only screen and (max-width: 600px) {
    .hp_feature_grid p{
        font-size: 80px;
    }
}


.albumanimate:hover {
    animation-duration: 4s;
    animation-name: flipthroughalbums;
    animation-iteration-count: infinite;
}

@keyframes flipthroughalbums {
  from {
    background: url(/images/jcd_web_project_album_02.jpg);
  }
    10% {
        background: url(/images/jcd_web_project_album_05.jpg);
    }
    20% {
        background: url(/images/jcd_web_project_album_09.jpg);
    }
    30% {
        background: url(/images/jcd_web_project_album_12.jpg);
    }
    40% {
        background: url(/images/jcd_web_project_album_16.jpg);
    }
    50% {
        background: url(/images/jcd_web_project_album_17.jpg);
    }
    60% {
        background: url(/images/jcd_web_project_album_19.jpg);
    }
    70% {
        background: url(/images/jcd_web_project_album_24.jpg);
    }
    80% {
        background: url(/images/jcd_web_project_album_26.jpg);
    }
    90% {
        background: url(/images/jcd_web_project_album_30.jpg);
    }
  
  to {
    background: url(/images/jcd_web_project_album_06.jpg);
  }
}

.emailanimate:hover {
    animation-duration: 3s;
    animation-name: flipthroughemails;
    animation-iteration-count: infinite;
}

@keyframes flipthroughemails {
  from {
    background: url(/images/jcd_web_home_mauEmail_01.jpg);
  }
    25% {
        background: url(/images/jcd_web_home_mauEmail_02.jpg);
    }
    50% {
        background: url(/images/jcd_web_home_mauEmail_03.jpg);
    }
    75% {
        background: url(/images/jcd_web_home_mauEmail_04.jpg);
    }
  
  to {
    background: url(/images/jcd_web_home_mauEmail_05.jpg);
  }
}

.machineryanimate:hover {
    animation-duration: 3s;
    animation-name: flipthroughmachinery;
    animation-iteration-count: infinite;
}

@keyframes flipthroughmachinery {
  from {
    background: url(/images/jcd_web_project_machinery_01.jpg);
  }
    25% {
        background: url(/images/jcd_web_project_machinery_02.jpg);
    }
    50% {
        background: url(/images/jcd_web_project_machinery_03.jpg);
    }
    75% {
        background: url(/images/jcd_web_project_machinery_04.jpg);
    }
  
  to {
    background: url(/images/jcd_web_project_machinery_05.jpg);
  }
}

.destinyanimate:hover {
    animation-duration: 3s;
    animation-name: flipthroughdestiny;
    animation-iteration-count: infinite;
}

@keyframes flipthroughdestiny {
  from {
    background: url(/images/jcd_web_project_destiny_01.jpg);
  }
    25% {
        background: url(/images/jcd_web_project_destiny_02.jpg);
    }
    50% {
        background: url(/images/jcd_web_project_destiny_03.jpg);
    }
    75% {
        background: url(/images/jcd_web_project_destiny_04.jpg);
    }
  
  to {
    background: url(/images/jcd_web_project_destiny_05.jpg);
  }
}




#hp_row_2 {
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
}

#hp_row_2_inner_a {
    font-size: 50px;
    color: #2a2c31;
    letter-spacing: -2px;
    line-height: 1.2;
}

#hp_row_2_inner {
    padding: 300px 0px;
}

@media only screen and (max-width: 600px) {
    .home_grid_category {
    font-size: 22px;
}

.home_grid_text {
    font-weight: 400;
    font-size: 30px;
    line-height: 20px;
}
.hp_column {
    margin-top: 50px;
}
#hp_row_2_inner {
    padding: 100px 0px;
}
}



/* General Buttons */

.mybutton {
    font-size: 26px;
    border: 2px solid #2a2c31;
    padding: 8px 24px;
    color: #2a2c31;
    transition-timing-function:ease-in-out;
    transition: 0.4s;
}

.mybutton:hover {
    padding: 8px 24px;
    background-color: #2a2c31;
    color: #f1f1f1;
}

/* ABOUT */

#about_bio {
    font-size: 26px;
}

/* KNOWLEDGE */

.post_tile {
    border: 2px solid var(--color-gray-dark);
    padding: 20px;
    margin: 0px 10px;
}

@media only screen and (max-width: 600px) {
    .post_tile {
    margin: 10px 0px;
}
}

.post_tile:hover{
    border: 2px dashed var(--color-gray-dark);
    background-color: var(--color-orange);
}

.light_bg_contain .post_signature_links {
    font-family: monospace;
    color: var(--color-grey-dark);
    margin-right: 10px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.light_bg_contain .note {
    font-family: monospace;
    color: #707070;
}
/* XADIA */

#xadia_nav {
    list-style-type: none;
}

#xadia_nav a {
    color: var(--color-gray-dark);
    font-size: 18px;
}

.xadia_section_contain {
    margin-bottom: 80px;
}

.xadia_section_contain h1, h2, h3, h4, h5, h6, p{
    margin: 10px 0px;
}