/* OVERALL STYLES */

h1 {
    font-weight: 700;
    letter-spacing: -2px;
}


/* MAIN NAV */

#nav_wrapper {
    background-color: #242424;
    height: 200px;
}

#jcd_logo{
    max-width: 80px;
    padding: 30px 0;
}

#nav_ul {
    list-style-type: none;
    float: right;
    margin: 0;
}

#nav_ul li{
    display: inline;
    padding-left: 60px;
}

#nav_ul li a{
    color: #fff;
    text-decoration: none;
    font-weight: 600;
}


@media only screen and (max-width: 600px) {
    #nav_ul {
        float: none;
        text-align: center;
    }
    #nav_ul li{
        padding: 0px 20px;
    }
    #jcd_logo_wrapper {
        text-align: center;
    }
}


/* HOMEPAGE */

.home_grid_category {
    font-weight: 600;
    font-size: 14px;
    letter-spacing: 2px;
    color: #999;
    margin: 0;
}

.home_grid_text {
    font-weight: 500;
    font-size: 18px;
    color: #000;
}