/* OVERALL STYLES */

:root {
    --color-gray-light: #868d9b;
    --color-gray: #2a2c31;
    --color-gray-dark: #1f2024;
    --color-tan: #eae7e0;
    --color-orange: #ff6c40;
    --color-blue: #27bfea;
    --color-yellow: #eac703;
}

::selection {
  background: var(--color-gray-light);
}
::-moz-selection {
  background: var(--color-gray-light);
}
body {
    background-color: var(--color-gray);
    border: 14px solid #1f2024;
}
h1 {
    font-family: titling-gothic-fb, sans-serif;
    font-weight: 700;
    letter-spacing: -2px;
    font-size: 70px;
    line-height: 60px;
    color: var(--color-gray-light);
}

h2 {
    font-family: titling-gothic-fb, sans-serif;
    font-weight: normal;
    letter-spacing: -2px;
    font-size: 48px;
    line-height: 50px;
    color: var(--color-gray-light);
}

h3 {
    font-weight: normal;
    font-size: 32px;
    line-height: 1.5;
    color: var(--color-gray-light);
}

h4 {
    font-weight: normal;
    font-size: 28px;
    line-height: 1.5;
    color: var(--color-gray-light);
}

a {
    cursor: pointer;
    text-decoration: none;
}

#hp_anchor:hover {
    border-bottom: 4px solid #ff6c40;
    transition: 0.2s;
}

p {
    font-weight: normal;
    color: var(--color-gray-light);
    font-size: 18px;
}


@media only screen and (max-width: 600px) {
    h1 {
        font-size: 50px;
        line-height: 50px;
    }
    h2 {
        font-size: 32px;
        line-height: 40px;
    }
}


/* MAIN NAV */

#jcd_logo{
    max-width: 80px;
    padding: 30px 0;
    top: 30px;
    position: relative;
}

#nav_ul {
    list-style-type: none;
    float: right;
    margin: 0;
    position: relative;
    font-family: titling-gothic-fb, sans-serif;
}

#nav_ul li{
    display: inline;
    padding-left: 60px;
}

#nav_ul li a{
    color: var(--color-gray-light);
    text-decoration: none;
    font-weight: 700;
}

#nav_ul li a:hover{
    color: var(--color-orange);
    text-decoration: none;
    font-weight: 700;
}


@media only screen and (max-width: 600px) {
    #nav_ul {
    float: none;
    text-align: center;
    }
    #nav_ul li{
    padding: 0px 20px;
    }
    #jcd_logo_wrapper {
    text-align: center;
    }
    #jcd_logo{
    top: auto;
    position: relative;
    }
    #nav_ul {
    top: auto;
    position: relative;
    }
}

/* FOOTER */

.footer_date {
    font-family: titling-gothic-fb, sans-serif;
    font-weight: 700;
    letter-spacing: 1px;
}

/* HOMEPAGE */

.home_grid_category {
    font-weight: 700;
    font-size: 12px;
    letter-spacing: 2px;
    color: #ccc;
    margin: 5px 0px 8px 0px;
    font-family: titling-gothic-fb, sans-serif;
}

.home_grid_text {
    font-weight: 400;
    font-size: 22px;
    color: var(--color-gray-light);
    line-height: 20px;
}

.hp_row_contain {
    transition: 1s;
}
.hp_row_contain:hover {
    transition: 1s;
    background-color: var(--color-gray-light);
    transform: scale(1.1);
    padding: 50px;
}

.hp_row_contain:hover p{
    color: #000;
}

.hp_row_contain:hover a{
    color: #000;
    font-size: 2em;
}

#hp_row_2 {
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
}

#hp_row_2_inner_a {
    font-size: 50px;
    color: #2a2c31;
    letter-spacing: -2px;
    line-height: 1.2;
}

#hp_row_2_inner {
    padding: 300px 0px;
}

@media only screen and (max-width: 600px) {
    .home_grid_category {
    font-size: 22px;
}

.home_grid_text {
    font-weight: 400;
    font-size: 30px;
    line-height: 20px;
}
.hp_column {
    margin-top: 50px;
}
#hp_row_2_inner {
    padding: 100px 0px;
}
}


/* General Buttons */

.mybutton {
    font-size: 26px;
    border: 2px solid #2a2c31;
    padding: 8px 24px;
    color: #2a2c31;
    transition-timing-function:ease-in-out;
    transition: 0.4s;
}

.mybutton:hover {
    padding: 8px 24px;
    background-color: #2a2c31;
    color: #f1f1f1;
}

/* ABOUT */

#about_bio {
    font-size: 26px;
}

/* KNOWLEDGE */

.knowledge_contain {
    background-color: #eae7e0;
    padding: 40px 0px;
    margin-bottom: 90px;
    margin-top: 50px;
    border-bottom: 12px solid #ff6c40;
}

.knowledge_contain h1{
    color: #1f2024;
}

.knowledge_contain h2{
    color: #1f2024;
}

.knowledge_contain h3{
    color: #1f2024;
}

.knowledge_contain h4{
    color: #1f2024;
}

.knowledge_contain p{
    color: #1f2024;
}